# Node.js modules
node_modules/

# Environnements et configurations locales
package-lock.json
.env

# Fichiers de logs
*.log

# Cache et artefacts
.DS_Store
.cache/
dist/
Thumbs.db


# Autres fichiers spécifiques
*.temp

# MacOS
*.swp
