/* Reset some basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Profile page container */
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f4f7fb; /* Light background */
}

/* Profile container */
.profile-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

/* Profile Page Welcome Message */
.profile-container h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.profile-container h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Message after submitting the form */
.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}

.profile-container p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Profile form styling */
.profile-form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #1da1f2;
  outline: none;
  background-color: #fff;
}

/* Button styling */
.form-actions {
  text-align: center;
}

button[type='submit'] {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

button[type='submit']:focus {
  outline: none;
}
